body{
    background: black;
    color: white;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;

    margin: auto;
    background-image: url(./img/bg.png);
    /*background-size: contain;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;

}
.box-2{
    width: 100%;
    height: 320px;
    background: url("./img/bg-3.webp") ;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.mybox-2{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}
.box{
    width: 30%;
    box-shadow: 0px 3px 9px 0px #00000070;
    text-align: center;
}

.box img{
    width:50%;
}

.box h3{
    font-size: 10px;
}
.box h3 a{
    color: red;
}
.box>a{
    color:green;


}









/**{*/
/*    color: orange;*/
/*}*/
/*.a.b{*/
/*    color: red;*/
/*}*/
/*.c.d{*/
/*    color:green;*/
/*}*/
/*h1{*/
/*    font-size: 25px;*/
/*}*/
/*h2.title{*/
/*    color: aqua;*/
/*}*/
/*h3.title{*/
/*    color: #89ff0c;*/
/*}*/
/*.bedg,.bedg2{*/
/*    color: red;*/
/*}*/
/*.menu>li>ul>li{*/
/*    color: red;*/
/*}*/